<header class="site-header">
  <img src="regalCafeLogo.ico" alt="App Logo" class="logo" />
  <h1 class="title">Regal Cafe</h1>
  <span id="tableId" class="tagline">Table - {{ currentTableNumber }}</span>
</header>

<div class="category-buttons" id="categoryButtons">
  @for(menu of menuOptions; track $index){

  <button
    class="category-button"
    id="menu_button_{{ $index }}"
    [ngClass]="{ active: $index === currentActiveMenuIndex }"
    (click)="selectNewCategory($index)"
  >
    {{ menu }}
  </button>
  }
</div>

<main id="menu" class="menu-grid">
  @for(item of currentMenuItemsData(); track $index;){

  <app-menu-item-card
    itemCatFolderName="{{ item.category }}"
    menuItemImage="{{ item.src }}"
    itemName="{{ item.name }}"
  ></app-menu-item-card>

  }
</main>
